/* Global *********************************************************************/
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;

    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-weight: 400;
}

body > section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    min-height: 90vh;
}

#column-left {
    margin: 0;
    padding: 0;
    width: 30vw;
}

#column-right {
    width: 70vw;
}

/* Aside **********************************************************************/
aside {
    position: relative;

    margin: 0;
    /* border-right: 1px solid black; */
    width: 100%;
    min-height: 100%;
    padding: 0;

    background-color: #F1F1FA;
}

#main-nav {
    
}

#main-nav-list {
    margin: 0;
    height: 100%;
    padding: 30px 10px;
    
    /* background-color: #EDEDED; */
    
    font-size: 1.5em;

    list-style-type: none;

    /* overflow: hidden; */
    overflow: scroll;
}

.main-nav-list-item {
    /* border-bottom: 1px solid grey; */
    border-radius: 6px;
    padding: 10px 20px;
}

.main-nav-list-item:hover {
    background-color: #E1E1EF;
}

/* Header *********************************************************************/
h1 {
    /* margin: 0;
    padding: 0; */

    font-size: 3em;
    margin-block: 0;
    text-align: center;
}

/* Main ***********************************************************************/
h2 {
    margin-left: 40px;

    font-size: 2em;
}

.task-list-form {
    /* display: flex;
    flex-direction: row; */
}

.task-list-input {
    margin-left: 40px;
    border: 1px solid #BCBCBC;
    width: 80%;
    height: 40px;
    padding: 0 20px;

    font-size: 1.1em;
}

.task-list-input::placeholder {
    margin: 0 20px;
}

.task-list-submit {
    margin: 0 10px;
    border: 1px solid #BCBCBC;
    width: 8%;
    height: 40px;

    font-size: 1.1em;
}

.task-list-submit:focus {

}

.task-list > ul {
    /* padding-left: 20px; */

    list-style-type: none;

    font-size: 1.2em;
    font-weight: 300;
}

.task-list > ul > li {
    border-bottom: 1px solid #DEDEDE;
    padding: 10px 0 30px 40px;
}

.task-list > ul > li:first-child {
    border-top: 1px solid #DEDEDE;
}

.task-list > ul > li > .task-checkbox {
    color: white;
}

.task-list > ul > li > .task-unchecked {
    -webkit-text-stroke: 1px black;
    color: white;
}

.task-list > ul > li > .task-checked {
    color: lightgreen;
}

.task-list > ul > li > .task-delete {

}

.task-text-faded {
    color: lightgrey;
    text-decoration: line-through;
}

.task-input-editing {
    border: 1px solid lightgreen;
}

.task-pen-editing {
    color: chartreuse;
}

/* Footer *********************************************************************/
footer {
    border-top: 1px solid black;
    min-height: 10vh;

    text-align: center;
}

#developer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 40px 0 40px 0;

    font-size: 1.2em;
}

.developer-list {
    margin: 0;
    /* width: 25%; */
    padding: 0;

    font-weight: 300;
    text-align: left;

    list-style-type: none;
}

.developer-list-item {
    padding-bottom: 10px;
}

.developer-list-item-heading {
    padding-bottom: 20px;

    font-size: 1.3em;
    font-weight: 500;
    text-decoration: underline;
}

#social {

}

#copyright {
    border-top: 1px solid #DBDBDB;
    padding-top: 20px;
    padding-bottom: 10px;
}
